$backgroundColor: #d1cfe2ff;

/*COLOR THEME */
$cameo-pink: #d4afb9ff;
$light-periwinkle: #d1cfe2ff;
$wild-blue-yonder: #9cadceff;
$middle-blue: #7ec4cfff;
$maximum-blue: #52b2cfff;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $backgroundColor;
  height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  footer {
    background: darken($backgroundColor, 50);
    border-top: 1px solid #eee;
    padding: 1em 3em;
    margin: 0;
  }

  header {
    background: darken($backgroundColor, 75);
    border-bottom: 1px solid #eee;
    color: #eee;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}
